* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* =================================================================================================== */
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo img {
    width: 150%;
}

.nav-menu,
.nav-btns {
    display: flex;
}

.nav-menu li {
    padding: 0 1rem;
}

.nav-btns a {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1.5rem;
    border: 1px solid black;
    border-radius: 4px;
}

.log-in {
    color: #00b289;
    border-color: #4c4d5f;
}

.start-here {
    background-color: #00b289;
    color: #fff;
    border: none;
}