@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Jost', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    display: block;
}

body {
    width: 100vw;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    overflow: hidden;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 120%;
    height: auto;
    padding-right: 3rem;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.menu ul li a {
    color: black;
}

.nav-right {
    display: flex;
}

.nav-right a {
    display: block;
    padding: 0 1rem;
    font-weight: 500;
}

.nav-right-try {
    color: blue;
    font-size: 1.2rem;
}

.nav-right-log {
    font-size: 1.1rem;
    color: black;
}

/* break-line */
hr {
    opacity: 40%;
    overflow: hidden;
}

/* Header */
.header {
    padding: 1rem 2.5rem;
}

.header ul {
    display: flex;
}

.header ul li {
    padding-right: 1rem;
}

.header ul li a {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu-red {
    color: #ff764d !important;
}

/* Banner */
.banner {
    height: 80%;
    width: 80%;
    margin: 1rem auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 8rem;
    color: #ff764d;
    font-weight: 400;
}

/* main contain */
.hero {
    width: 100vw;
    /* overflow: hidden; */
}

.description {
    width: 50%;
    margin: 6rem auto;
    /* margin: 5rem 15rem; */
}

.des-header {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.des-text {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.hero-img {
    display: flex;
    width: 100vw;
    height: 50rem;
    background: linear-gradient(90deg, #fff 40%, #fbffa7 0%);
}

.img-left {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
}

.img-left-min {
    width: 90%;
    margin-left: 4rem;
}

.img-left-min img {
    width: 100%;
}

.img-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-right-min {
    margin-left: 7rem;
}

.img-right img {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* lone image */
.lone-img {
    width: 50%;
    margin: 6rem auto;
}

.lone-img img {
    width: 100%;
}

/* hero-img second */
.hero-img2 {
    display: flex;
    width: 100vw;
    height: 60rem;
    background: linear-gradient(90deg, #b6ffc0 60%, #fff 0%);
}

.img2-left {
    flex: 0 0 50%;
}

.img2-left-min {
    display: flex;
    height: 60rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img2-left-min-1 {
    width: 28rem;
}

.img2-right {
    display: flex;
}

.img2-right-min {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2-right-min-1 {
    width: 28rem;
}

/* lone-img-2 */
.lone-img-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lone-img-2 img {
    width: 80%;
}

/* hero-img third3 */
.hero-img3 {
    display: flex;
    width: 100vw;
    height: 50rem;
    background: linear-gradient(to right, #fff 0, #fff 16%, #d5b3ff 16%, #d5b3ff 84%, #fff 84%, #fff 100%);
    /* background: linear-gradient(to right, #c4d7e6 0, #c4d7e6 33%, #66a5ad 33%, #66a5ad 66%, #ff0000 66%, #ff0000 100%); */
}

.img3-left {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img3-left-min {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img3-right {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
}

.img3-right-min {
    display: flex;
    align-items: center;
}

/* hero-img four 4 */
.hero-img4 {
    display: flex;
    width: 100vw;
    height: 35.6rem;
    background: linear-gradient(to right, #fff 0, #fff 50%, #b1c5ff 50%, #b1c5ff 90%, #fff 90%, #fff 100%);
}

.img4-left {
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: flex-end;
}

.img4-right {
    display: flex;
    flex: 50%;
}

.img4-right-min {
    width: 34rem;
    padding: 8rem;
}

.img4-right-min p {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.img4-right-min a {
    font-size: 1.7rem;
    font-weight: 500;
    color: #0000ff;
}

/* FOOTER */
.footer {
    /* width: 85%; */
    height: 600px;
    margin: 7rem;

    /* background-color: dodgerblue; */

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    row-gap: 10px;
    column-gap: 10px;
}

.items {
    /* background-color: aqua; */
    /* height: 100px; */
    /* width: 100px; */
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 5;
}

.footer-logo {
    font-size: 5rem;
    font-weight: 500;
}

.item4,
.item7 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.item8 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item9 {
    grid-column-start: 3;
    grid-column-end: 5;
}