@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Jost', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    display: block;
}

body {
    width: 100vw;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    overflow: hidden;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 120%;
    height: auto;
    padding-right: 3rem;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.menu ul li a {
    color: black;
}

.nav-right {
    display: flex;
}

.nav-right a {
    display: block;
    padding: 0 1rem;
    font-weight: 500;
}

.nav-right-try {
    color: blue;
    font-size: 1.2rem;
}

.nav-right-log {
    font-size: 1.1rem;
    color: black;
}

/* break-line */
hr {
    opacity: 40%;
    overflow: hidden;
}

/* Header */
.header {
    padding: 1rem 2.5rem;
}

.header ul {
    display: flex;
}

.header ul li {
    padding-right: 1rem;
}

.header ul li a {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu-red {
    color: #ff764d !important;
}

/* Banner */
.banner {
    height: 80%;
    width: 80%;
    margin: 1rem auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 8rem;
    color: #ff764d;
    font-weight: 400;
}

/* main contain */
.hero {
    width: 100vw;
    /* overflow: hidden; */
}

.description {
    width: 50%;
    margin: 6rem auto;
    /* margin: 5rem 15rem; */
}

.des-header {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.des-text {
    font-size: 1.2rem;
    font-weight: 300;
}

.hero-img {
    display: flex;
    width: 100vw;
    height: 50rem;
    background: linear-gradient(90deg, #fff 40%, #fbffa7 0%);
}

.img-left {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
}

.img-left-min {
    width: 90%;
    margin-left: 4rem;
}

.img-left-min img {
    width: 100%;
}

.img-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-right-min {
    margin-left: 7rem;
}

.img-right img {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* lone image */
.lone-img {
    width: 50%;
    margin: 6rem auto;
}

.lone-img img {
    width: 100%;
}

/* hero-img second */
.hero-img2 {
    display: flex;
    width: 100vw;
    height: 60rem;
    background: linear-gradient(90deg, #b6ffc0 60%, #fff 0%);
}

.img2-left {
    flex: 0 0 50%;
}

.img2-left-min {
    display: flex;
    height: 60rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img2-left-min-1 {
    width: 28rem;
}

.img2-right {
    display: flex;
}

.img2-right-min {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2-right-min-1 {
    width: 28rem;
}