body {
    width: 100%;
    margin: 0;
    background-color: white;
    /* transition: all .1s; */
}

body .content {
    width: 100vw;
    height: 100vh;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    overflow: auto;
}

body .content section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid black; */
    scroll-snap-align: start;
}

.issue-1 {
    background-color: #00c1b5;
    transition: ease-in-out 1s;
}

.issue-2 {
    background-color: #ff651a;
    transition: ease-in-out 1s;

}

.issue-3 {
    background-color: #ffbe00;
}

.issue-4 {
    background-color: #1d3fbb;
}

.issue-5 {
    background-color: #e30512;
}


.container {
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.nav-logo {
    width: 260px;
    height: 50px;
}

.nav-logo img {
    width: 100%;
}

.end-content {
    position: absolute;

    bottom: 0;
    width: 98%;

    display: flex;
    justify-content: space-between;
}

.end-left {
    /* position: absolute; */
    width: 320px;
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.end-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}