body {
    width: 100%;
    margin: 0;
    background-color: white;
    /* transition: all .1s; */
}

body .content {
    width: 100vw;
    height: 100vh;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    overflow: auto;
}

body .content section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid black; */
    scroll-snap-align: start;
}

.issue-1 {
    background-color: #fff;
    transition: ease-in-out 1s;
}

.issue-2 {
    background-color: #00c1b5;
}

.issue-3 {
    background-color: #ff651a;
}

.issue-4 {
    background-color: #ffbe00;
}

.issue-5 {
    background-color: #1d3fbb;
}

.issue-6 {
    background-color: #e30512;
}


.container {
    /* margin: 1rem; */
    height: 100vh;
    width: 100%;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.nav-logo {
    width: 260px;
}

.nav-logo img {
    width: 100%;
}

.main {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main img {
    height: 100%;
}

.end-content {
    position: absolute;
    bottom: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.end-left {
    /* position: absolute; */
    width: 300px;
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.end-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}