@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&family=Roboto+Mono:wght@200;300;400;500&display=swap');
/* font-family: 'Roboto Flex', sans-serif;
font-family: 'Roboto Mono', monospace;
 */

/* general Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --cl-bg: #000;
    --cl-font: #fff;
}

body {
    background-color: var(--cl-bg);
    color: var(--cl-font);

    max-width: 100vw;

    margin: 3rem 2.5rem;

    /* font-family: 'Roboto Mono', sans-serif; */
    font-family: 'Roboto Flex', sans-serif;
}

a {
    text-decoration: none;
    color: var(--cl-font);
}


/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    flex: 30%;
    text-transform: uppercase;
}

.navbar__logo h1 {
    font-weight: 500;
}

.navbar__menu {
    flex: 25%;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

}

.menu li {
    transition: all 1;
}

.menu li a {
    text-transform: uppercase;
    word-spacing: .6rem;
    font-size: .9rem;
    padding: 0 1rem;
}

.menu__extra {
    visibility: hidden;
}

.menu li:hover .menu__extra {
    visibility: visible;
}

/* BANNER */
.banner {}

.banner img {
    width: 100%;
    padding: 5rem 1rem;
}

/* website's Tagline */
.tagline {
    margin: 12rem 7rem;
    text-align: center;
}

.tagline h2,
.tagline h3 {
    font-weight: 500;
    font-size: 4rem;
}

/* hero-1 */
.hero-1 {
    max-width: 100%;
    display: flex;
}

.side-img {
    flex: 0 0 55%;
}

.side-img img {
    width: 100%;
    height: 100%;
}

.side-content {
    padding: 5rem;
}

.side-content p {
    font-size: 1.6rem;
    word-spacing: 7px;
    line-height: 1.6;
}

.button a {
    display: block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    background-color: var(--cl-font);
    color: var(--cl-bg);
    width: fit-content;
    border-radius: 5rem;
}

.button a:hover {
    background-color: gray;
}