@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,700&family=Montserrat:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Fraunces', serif; */
    /* font-family: 'Montserrat', sans-serif; */
}

:root {
    --color-primary-dark-cyan: hsl(158, 36%, 37%);
    --color-primary-cream: hsl(30, 38%, 92%);

    --color-natural-dark-blue: hsl(212, 21%, 14%);
    --color-natural-gray-blue: hsl(228, 12%, 48%);
    --color-natural-white: hsl(0, 0%, 100%);
}

.container {
    background-color: var(--color-primary-cream);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}

.card-left {
    width: 20rem;
    height: 28rem;
}

.card-left img {
    width: 100%;
    height: 100%;
}

.card-left-mob {
    display: none;
}

.card-right {
    width: 20rem;
    height: 28rem;
    background-color: var(--color-natural-white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 2rem;
}

.title h2 {
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: var(--color-natural-gray-blue);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.title-intro h2 {
    font-size: 2.2rem;
    font-family: 'Fraunces', serif;
}

.content p {
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--color-natural-gray-blue);

}

.price {
    display: flex;
    align-items: center;
}

.discount-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: var(--color-primary-dark-cyan);
    font-weight: 700;
}

.old-price {
    margin-left: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--color-natural-gray-blue);
    font-size: .9rem;
}

.btn a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--color-natural-white);
    padding: 1rem 3rem;
    background-color: var(--color-primary-dark-cyan);
    border-radius: .5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.fa-solid {
    padding-right: .5rem;
}

@media screen and (max-width: 475px) {
    .card {
        flex-direction: column;
    }

    .card-left img {
        display: none;
    }

    .card-left-mob {
        display: block;
    }

    .card-right {
        height: 20rem;
    }
}