@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --color-primary-dark: #000000;
    --color-primary-banner: #dadbf1;

    --color-light-dark: rgb(53, 52, 52);

    --color-btn: #4C5FD5;

    --color-white: #fff;
}

.container {
    max-width: 100vw;
}

.navbar {
    background-color: var(--color-primary-dark);
    display: flex;
    color: var(--color-white);
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo h1 {
    font-weight: 400;
    font-size: 2rem;
}

.menu-btn {
    display: flex;
    padding: .5rem;
    align-items: center;
}

.submit-btn {
    text-decoration: none;
    color: var(--color-white);
    padding: .5rem 1.5rem;
    border: 1px solid var(--color-white);
    background-color: var(--color-light-dark);
    border-radius: .5rem;

    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 300;

    margin-right: 1rem;
}

.signIn-btn {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 300;

    text-decoration: none;
    color: var(--color-white);
    padding: .5rem 1.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--color-btn);
}


/* banner */
.banner {
    background-color: var(--color-primary-banner);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
}

.banner-title h2 {
    font-size: 5rem;
    font-weight: 400;
}

.banner-input {
    width: 45rem;
    padding: 1rem;
    border: #a7a6a6 solid 1px;
    margin-top: 1rem;
    border-radius: .4rem;

    background-color: var(--color-white);

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.banner-input input {
    border: none;
    background-color: var(--color-white);
    width: 41rem;
    font-size: 1rem;

    outline: none;
}

/* hero */
.hero {
    padding: 10rem;
    display: flex;
    justify-content: space-around;
}

.row-1 {
    display: flex;
    width: 30rem;
    height: 15rem;
    margin: 2rem 0;
    /* border: #000000 solid 1px; */
}

.card-img {
    /* width: 10rem; */
    /* padding: 1rem; */
    margin: 1rem;
    flex: 0 0 20%;
}

.card-img img {
    width: 5rem;
}

.card-content {
    /* margin: 1rem; */
    padding: 1rem 0;
}

.card-content h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card-content p {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}

.card-content a {
    text-decoration: none;
    color: var(--color-btn);
    font-size: 1.2rem;
}

/* footer */
.footer {
    background-color: var(--color-primary-dark);
    display: flex;
    color: var(--color-white);
    padding: 3rem 6rem;
    justify-content: space-between;
    height: 25rem;
}

.footer-start {
    display: flex;
}

.footer-col {
    padding: 1.5rem;
}

.footer-row-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-row-menu ul {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.footer-row-menu ul li {
    list-style-type: none;
}

.footer-row-menu ul li a {
    color: var(--color-white);
    line-height: 1.7;
}

.contact-us {
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    /* bottom: -rem; */
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.3rem;
}