* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
}

.hero-title-text {
    font-size: 2rem;
    font-weight: 500;
}

.hero-dec-text {
    font-size: 1rem;
    font-weight: 300;
}

/* Navbar */
/* .navbar-nav-left {
    display: flex;
}

.navbar-nav-right {
    display: flex;
} */
nav .nav-link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

nav .last-nav-link {
    color: #ff764d;
}

nav .blue-nav-link {
    color: #0000ff;
}

/* Second-nav */
.nav-second-link {
    font-weight: 600 !important;
    font-size: 1rem !important;
}

/* Banner */
.banner {
    width: 100vw;
}

.banner .col {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 500;
    color: #ff764d;
    text-transform: uppercase;
}

/* Hero-1 */

.hero-1-row {
    height: 100%;
    background: linear-gradient(to right, #fff 0, #fff 35%, #fbffa7 35%, #fbffa7 100%);
}

.hero-1-row img {
    width: 100%;
}

.hero-1-row .hero-1-right img {
    width: 70%;
}

.hero-1-yellow {
    height: 540px;
    background-color: #fbffa7;
}

/* hero-video */
.hero-video-row img {
    width: 100%;
}


/* Hero-2 */
.hero-2-row {
    background: linear-gradient(to right, #b6ffc0 0%, #b6ffc0 65%, #fff 65%, #fff 100%);
}

.hero-2-right img {
    width: 90%;
}

.hero-2-col-up img,
.hero-2-col-down img {
    width: 70%;
}

/* Hero-3 */
.hero-3-img-col img {
    width: 100%;
}

/* hero-5 */
.hero-5 {}

.hero-5-row {
    background: linear-gradient(to right, #fff 0%, #fff 10%, #d5b3ff 10%, #d5b3ff 90%, #fff 90%, #fff 100%);
}

.hero-5-col-left img {
    width: 100%;
}

/* Hero-6 */
.hero-6-row img {
    width: 100%;
}

.hero-6-col-text {
    background-color: #b1c5ff;
}